<div class="container">
  <%if @current_user  %>
    <h1>Logged in as <%=@current_user.username %></h1>
    <a href='/users/<%=current_user.id%>/edit'>Edit User</a>
  <%end  %>
  <a href='/users/new'>Create User</a>
  <a href='/sessions/new'>Log In</a>
</div>
